<!doctype html>
<html>
	<head>
		{{{htmlHead}}}
	</head>
	<body>
		<div class="navbar sans-serif">
		  <div class="navbar-inner">
		    <a class="brand" href="#">Title</a>
		    <ul class="nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">Link</a></li>
		      <li><a href="#">Link</a></li>
		    </ul>
		  </div>
		</div>

		<div class="hero-unit">
			<h1 class="sans-serif">Welcome to RAX</h1>
			<p>RAX is a highly modular CMS for Node.js. It is actually more than a CMS, we like to call it an editorial engine because it is powerful enough for professionals and simple enough
				for dilettantes.</p>
			<p><a class="btn btn-primary btn-large sans-serif">Learn more &raquo;</a></p>
	     </div>
	</body>
</html>